@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');
html {
    
        box-sizing: border-box;
}
    
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    html,
body {
    overflow: hidden;
    position: relative;
    height: 100%;
}


/* body */
body {
    font-family: 'Lora', serif;
    font-weight: 300;
    color: #040404;
    height:100vh;
    background-image: url('../images/london.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
/* main div*/
.main-div {
    width:100%;
    height:800px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.heading-div{
    
    width:50%;
    height:100px;
    text-align:center;
    padding:5px;
    margin:auto;
    position:relative;
    top:100px;

}
.main-heading {
    letter-spacing: 2px;
    color: #702727;
    font-weight:600;
    
}
/* containers */
.container{
    border: 4mm ridge #f65d1699;
    background-color: #f9cf5b;
    padding:3px 8px;
    height:70%;
    width:40%;
    border-radius: 1px;
}
.container h2{
    font-size: 25px;
    margin:25px 15px;
}
.container li {
    list-style:none;
    margin-top: 10px;
    justify-content: left;
    padding-left:50px;   
}
[type=radio] {
    border: 1px;
    height: 1rem;
    width: 1rem;
    margin-top: 14px;
    position: absolute;
    color:#0e7cd6

}
label {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background: #f6ebf4f6;
    margin-bottom: 15px;
    margin-left:30px;
    padding: 10px 15px;
    position: relative;
    width: 70%;
    color: #000;
}
label:hover  {
    background: #000;
    color: #fff;
} 
.container h3{
    font-size:30px;
    color:#000000;
    margin-left:60px;
    padding:50px;
}
.container h4{
    font-size:30px;
    color:#000000;
    margin-left:60px;
    padding:10px 50px;
}
input{
    cursor:pointer;
}
.highlight {
    background-color: #efef29;
  }

/* to hide the scoreArea,Next button */
.hide {
    display:none;
}
.wrapper{
    text-align:center;
    align-items: center;
}

/* submit button */
#submit { 
    padding: 10px;
    margin:auto;
    text-align:center;
    margin-top:40px;
    font-size:16px;
    background-color: #dc4242;
}
#submit:hover {
    background-color: #dd7857;
}
.option-green {
    background-color: #66c966;
    animation: flash 0.6s infinite;
}
@keyframes flash {
    0% {
        background-color: #66c966;
    }

    49% {
        background-color: #13b685;
    }

    100% {
        background-color: #4cf5c2;
    }
}

/*next button */

#next {   
    padding:10px;
    margin:20px 5px;
    text-align:center;
    font-size:16px;
    background-color: #b5b2c9;
}
#next:hover{
    background-color: #0e7cd6;
}

/* score area */
#scoreArea {
    background-color: #d5809c;
    margin:20px auto;
    padding:30px 30px;
    width:45%;
    height:5%;
    text-align:center;
}

/* Media queries */

/* For larger to medium screens size from 1400px wide and down */
@media screen and (max-width:1400px) {
    .container{
        height:70%;
        width:60%;
    }
    #scoreArea {
        background-color: #d5809c;
        margin:10px auto;
        padding:10px;
        width:45%;
        height:10%;
        text-align:center;
    }
    #scoreArea p{
        font-size: 16px;
    }
    .container h3{
        font-size:25px;
        margin-left:60px;
        padding:40px;
    }
    .container h4{
        font-size:25px;
        margin-left:60px;
        padding:10px 40px;
    }
    .container{
        height:70%;
        width:70%;
    }
    .container h2{
        font-size:25px;
    }
}

/* For smallerscreens from 700px and below*/
@media screen and (max-width: 700px) {

    .heading-div{
        width:55%;
        height:50px;
        text-align:center;
        padding:5px;
        margin:8px auto;
        position:relative;
        top:10px;
    }
    .main-heading {
        letter-spacing: 2px;
        color: #822727;
        font-weight:600;
        font-size:25px;
        
    }
    .container{
        height:70%;
        width:80%;
    }
    .container h2{
        font-size:20px;
    }
    #scoreArea {
        background-color: #d5809c;
        margin:10px auto;
        padding:10px;
        width:55%;
        height:10%;
        text-align:center;
    }
    #scoreArea p{
        font-size: 16px;
    }
    .container h3{
        font-size:20px;
        margin-left:30px;
        padding:30px;
    }
    .container h4{
        font-size: 20px;
        margin-left:30px;
        padding:10px 30px;
    
    }
}