@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Lora', serif;
    font-weight: 300;
    color: #040404;
    height:100%;
    background-image: url('../images/london.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.main-div {
    width:100%;
    height:800px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading-div{
    
    width:50%;
    height:100px;
    text-align:center;
    padding:5px;
    margin:auto;
    position:relative;
    top:100px;

}
.main-heading {
    letter-spacing: 2px;
    color: #822727;
    font-weight:600;
    
}
.container{
    background-color: #e9ebeb;
    padding:3px 8px;
    height:50%;
    width:40%;
    border-radius: 1px;
}

.container h2{
    font-size: 25px;
    margin:25px 15px;

}
.container li {
    list-style:none;
    margin-top: 10px;
    justify-content: left;
    padding-left:50px;
    
}
input{
    cursor:pointer;

}
.hide {
    display:none;
}
#submit { 
     padding: 10px;
     display:block;
     margin:auto;;
     text-align:center;
     margin-top:40px;
     font-size: smaller;
     background-color: #eeabab;
}

#submit:hover {
    background-color: #dd7857;
}

#next {
    padding: 10px;
     display:block;
     margin:auto;;
     text-align:center;
     margin-top:20px;
     font-size: smaller;
     background-color: #b5b2c9;
}
#next:hover{
    background-color: #0e7cd6;

}
.score-area {
    background-color: lavender;
    margin:30px;
    padding:15px 30px;
    width:25%;

}

